{% extends "base.html" %}
{% block custom_styles %}
<style>
        body {
                background-image: url('/static/Forest_Auth_Page.jpg');
                background-size: cover;
        }
</style>
{% endblock %}
{% block content %}


<div class="main-content">
    <h1 class="title">Login</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="error">
           {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
    <div class="box">
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="username" name="username" placeholder="Your Username" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div>

            <div class="field">
                <label class="checkbox"> 
                    <input type="checkbox" name="remember">
                    <p>Remember Me</p>
                </label>
            </div>
            <button class="general-btn">Login</button>
        </form>
    </div>
</div>

{% endblock %}